.tracks {
  background-color: var(--tertiary-color-fade);
  margin: auto;
  padding: 8rem 1rem 0 1rem;
  width: 100%;
}

.tracks .container {
  width: 1240px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tracks .content {
  width: 1240px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tracks h2 {
  font-size: 3rem;
}

.tracks .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.tracks .characteristic {
  display: flex;
  float: left;
  margin: 10px;
}

.tracks .characteristic .characteristic-name {
  font-weight: 500;
  margin-right: 10px;
}

.tracks img {
  width: 650px;
  height: auto;
}

@media screen and (max-width: 940px) {
  .tracks .container {
    grid-template-columns: 1fr;
  }

  .tracks .container {
    width: 100%;
  }

  .tracks .container img {
    padding: 0rem;
    width: 90vw;
  }

  .tracks .container .col-2 {
    padding: 0;
  }

  .tracks button {
    margin-bottom: 1rem;
  }
}
