.ftr {
  width: 100%;
  background-color: #000;
  color: #eee;
  padding: 3rem 1rem;
}

.ftr .container {
  max-width: 1240px;
  margin: auto;
  text-align: center;
}

.ftr ul {
  display: flex;
  justify-content: center;
}

.ftr li {
  padding: 1rem;
}

.ftr li a {
  font-size: 35px;
  color: #fff;
}

.ftr li a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--secondary-color);
}

.bottom {
  text-align: center;
  padding-top: 3rem;
}

.line {
  margin-bottom: 1rem;
}
