.registration {
  width: 100%;
  margin: auto;
  padding: 0.1rem 1rem 1rem 1rem;
  background-color: var(--tertiary-color);
}

.registration .container {
  width: 1240px;
  margin: 4rem auto;
  padding: 4rem 0rem;
}

.registration h2 {
  font-size: 3rem;
  text-align: center;
}

.registration .container .content {
  display: flex;
  justify-content: center;
}
