.tracks {
  background: url('./images/ruen.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
  padding: 3.5rem 1rem 1rem 1rem;
  width: 100%;
}

/*.tracks .container {
  width: 1240px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tracks .content {
  width: 1240px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tracks h2 {
  font-size: 3rem;
}

.tracks .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}*/

.tracks .tabs a {
  color: black;
  font-weight: 600;
}

.tracks .tabs a:hover {
  color: white;
  font-weight: 600;
}

.tracks .tabs .is-active a {
  color: white;
}

.tracks .fill {
  width: 100%;
  height: auto;
}

.tracks .card-content {
  align-items: center;
  text-align: center;
}

.tracks .card-content .content {
  align-items: center;
  text-align: left;
}

.tracks .characteristic {
  display: flex;
  margin: 10px;
}

.tracks .characteristic .characteristic-name {
  font-weight: 500;
  margin-right: 10px;
}

/*.tracks img {
  width: 650px;
  height: auto;
}

@media screen and (max-width: 940px) {
  .tracks .content {
    grid-template-columns: 1fr;
  }

  .tracks .content {
    width: 100%;
  }

  .tracks .content img {
    padding: 0rem;
    width: 90vw;
  }

  .tracks .content .col-2 {
    padding: 0;
  }

  .tracks button {
    margin-bottom: 1rem;
  }
}
*/
